html,body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
}

body{
      display: flex;
      justify-content: center;
      align-items: center;
      /* flex-direction: row; */
}


.app{
      display:flex;
      justify-content:space-around;
      align-items: center;
      gap: 20px;
}

.toast_item:first-child{
      background-color:burlywood;
}

.toast_item:last-child{
      background-color: red;
}

.toast_item{
      width: 300px;
      padding: 10px 0;
      /* background-color: burlywood; */
      text-align: center;
      border-radius: 8px;
      cursor:pointer;
}


.message {
      position: fixed;
      display: flex;
      cursor:pointer;
      top: 15px;
      width: 400px;
      height: 50px;
      background-color:blueviolet;
      right: 20px;
      border-radius: 8px;
      /* animation: start linear forwards; */
}

/* @keyframes start {
      to{
           transform: translateX(calc(0));
           opacity:1; 
      }
} */

@keyframes fadeInleft{
      from{
            transform: translateX(calc(100%));
            opacity:0.5
      }
      to{
            opacity: 1;
            transform: tranlateX(0)
      }
}

@Keyframes fadeout{
      to{
            /* transform: translateX(100%); */
            opacity: 0;
      }
}

.message_header{
      padding-left: 10px;
      width: 80%;
}

.message_header .title{
      font-size:  20px;
}
.message_footer{
      background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      border-radius: 8px;
}

